/**********************************/
/* 1. Estilos gerais
/**********************************/
*{
    /*Resete geral em todos os elementos do site*/
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
header{
    height: 100px; /* (altura fixa) tanto desktop quanto mobile*/
    background-color: #001119;
    color: white;
}
body{
    font-family:'Montserrat', Arial, Helvetica, sans-serif;
    font-size: 13px;
    overflow-x: hidden; /*aqui ignora a barra de rolagem inferior*/
}

.button{
    display: inline-block;
    background-color: #da0026;
    color: white;
    font-size: 13px;
    font-weight: 600;
    text-decoration: none;
    padding: 10px 30px;
    margin-top: 30px;
    border-radius: 30px;
}
/**********************************/
/* 2. Menu / Cabeçalho
/**********************************/
.menu_opener{
    display: none;
}
.cabecalho{
    max-width: 1140px;
    height: 100px;
    margin: auto; /*centraliza box cabeçalho*/
    display: flex;
    align-items: center; /*img logo vai ficar no meio*/
}
.logo__imagem{
    width: 80px;
    height: 80px;
    background-color: #da0026;
    border-radius: 40px;
    
}
.logo{
    width: 100px; /*larg fixa*/
}
.menu{
    flex: 1; /*vai pegar todo o restante do espaço*/
    display: flex; /*esse aqui com ↓ esse*/
    justify-content: flex-end; /*faz todo o conteudo no menu ir para direita*/

}
.menu ul, .menu li{
    list-style: none;
}
.menu ul{
    display: flex;/*menu um ao lado do outro*/
}
.menu li a{
    color: white;
    text-transform: uppercase;
    font-weight: 600;
    text-decoration: none;
    display: flex;/*vai precisar aumentar a altura por causa da borda embaixo*/
    height: 100px; /*efeito de cima complementa essa altura*/
    align-items: center; /*complemento para o feito menu*/
    border-bottom: 5px solid black;/* complemento efeito de passar o mouse*/
    padding-left: 10px;
    padding-right: 10px;
}
.menu li a:hover{ /*efeito de passar o mouse*/
    border-bottom: 5px solid #B43104;
    color: palevioletred;
}
.menu .menu__ativo a{
    border-bottom: 5px solid #B43104;
}

/**********************************/
/* 3. Banner
/**********************************/

.banner{
    height: calc(100vh - 100px);/*tamanho total do monitor esse calculo evita barra de rolagem*/
    background-image: url('../imagens/banner1.jpg');
    background-position: bottom;/*priorizar a parte de baixo da img*/
    background-size: cover; /*ajusta a img para prenehcer o tamanho todo do espaço*/
    background-color: pink;/*esse fundo vai aparecer até que a img carregue*/
    overflow: hidden;/*tirando a barra de rolagem do banner*/
}
.banner .area__sliders{
    width: 1000vw;
    height: 100%;
}
.banner .slide{
    width: 100vw;
    height: 100%;
    display: inline-block; /*vai deixar o slide um ao lado do outro e manter as propriedades*/
   /*background-color: rgba(0,0,0,0.7);*/
    
}
.banner .slide__conteudo{
    display: flex;
    flex-direction: column; /*para deixar o contato debaixo do titulo*/
    height: 100%;
    align-items: center;
    justify-content: center;
    color: white;
}
.banner h1{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 50px;
}
.banner h2{
    text-transform: uppercase;
    margin-top: 20px;
}

.banner .slider__pontos{
    width: 100vw; /*area inteira*/
    height: 20px;
    position: absolute; /*vai deixar area pontos visivel*/
    margin-top: -50px; /*vai entrar dentro do baneer*/
    display: flex; /*precesso de alinhamento conteudo centro*/
    justify-content: center; /*precesso de alinhamento conteudo centro*/
    align-items: center; /*precesso de alinhamento conteudo centro*/
}
.banner .bolinhas{
    width: 15px;
    height: 15px;
    border: 2px solid white;
    border-radius: 8px;
    margin-left: 5px;
    margin-right: 5px;
    cursor: pointer; /*mouse clicavel*/

}
.banner .bolinhas.marcada{
    background-color: #da0026;
}
/**********************************/
/* 4. Corpo
/**********************************/
.padrao{
    
    padding-top: 50px;
    padding-bottom: 50px;
}
.padrao .titulo,
.padrao .descricao{
    text-align: center;
    text-transform: uppercase;
}
.padrao .corpo{
    max-width:1140px;
    margin: auto;
    
}
.padrao .titulo{
    font-size: 20px;
    font-weight: 600;
}
.padrao .descricao{
    font-size: 13px;
    font-weight: 600;
    color: black;
    margin-top: 10px;
    margin-bottom: 40px;
}
.padrao.branco{
    background-color: #f2edf1;
    
}
.padrao.preto{
    background-color: #001119;
}
.padrao.preto .descricao{
    color: white;
}
.padrao.preto .titulo, .padrao.preto .corpo {
    color: white;
}

.padrao.branco .titulo, .padrao.branco .corpo{
    color: black;
}
/**********************************/
/* 5. Primeira area
/**********************************/

.sobre__nos{
    display: flex;
}
.area__esquerda{
    flex: 1;
}
.area__direita{
    width: 520px;
    text-align: center;
    
}
.area__direita img{
    width: 480px;
    box-shadow: 0px 0px 10px #333; /*efeito de sombra na img*/
}
.area__esquerda p{
    font-size: 14px;
    line-height: 25px;
}

/**********************************/
/* 6. Segunda area
/**********************************/

.servicos{
    display: flex; /*area uma do lado da outra*/
}
.icones__servicos{
    flex: 1; /*area uma do lado da outra complemento*/
    text-align: center; /*vai centralizar a area + no meio*/
    border-right: 1px solid #333; /*traços ao lado dos icones*/
    padding: 15px;
}
.icones__servicos:first-child{
    border-left: 1px solid #333; /*traços ao lado dos icones*/
}
.icones__servicos h4{
    margin-top: 20px;
    text-transform: uppercase;
    font-size: 18px;
}
.icones__servicos p{
    margin-top: 10px;
    font-size: 13px;
    color: #999;
}

/**********************************/
/* 7. Terceira área
/**********************************/

.roupas{
    display: flex; /*conteudo vai pro centro*/
    flex-direction: column; /*conteudo vai pro centro complemento*/
    align-items: center;  /*conteudo vai pro centro complemento*/
    
}
.filtros{
    border: 1px solid #333;
    background-color: #001119;
    border-radius: 30px;
    display: inline-block;
    padding: 0px 20px;
}
.filtros ul, .filtros li{
    list-style: none;
}
.filtros li{
    display: inline-block;
    padding: 10px;
    text-transform: uppercase;
    font-size: 13px;
    border-left: 1px solid white; /*traço*/
    color: #ffffff;
    border-bottom: 3px solid black;
    cursor: pointer;
}
.filtros li:hover,.filtros li.ativo {
    border-bottom: 3px solid #B43104;
}
.filtros li:first-child{
    border-left: 0;  /*traço complemento*/
}

.fotos{
    width: 100vw;
    max-width: 1140px;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.fotos__produtos{
    width: 280px;
}
.fotos__area{
    margin: 10px;
    width: 260px;
    height: 160px;
}
.fotos__area img{
    width: 260px;
    height: 160px;
}
.section_projects_photos{
    width: 100vw;
    max-width: 1140px;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.section_projects_photo{
    width: 280px;
}
.section_projects_photoarea{
    margin: 10px;
    width: 260px;
    height: 160px;
}
.section_projects_photoarea img{
    width: inherit;
    height: inherit;
}
.section_projects_photoinfo{
    position: absolute;
    width: inherit;
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
}
/**********************************/
/* 8. Rodape
/**********************************/

/* BEGINNING OF FOOTER AREA */
footer {
    background-color: #000000;
    display: flex;
    justify-content: center;
    padding-top: 40px;
    padding-bottom: 20px;
}

#FooterFrame {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#FooterBoxLeft {
    width: 380px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#FooterBoxLeftUp {
    display: flex;
}

#FooterBoxLeftUp a {
    background-color: #717171;
    width: 25px;
    height: 25px;
    border-radius: 12.5px;
    margin-right: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#FooterBoxLeftUp img {
    width: 14px;
    height: auto;
}

#FooterBoxLeftUp a:hover {
    background-color: #b28756;
}

#FooterBoxLeftDown h4 {
    color: #ffffff;
    font-weight: normal;
}

#FooterBoxCenter {
    width: 380px;
}

#FooterBoxCenter p {
    color: #717171;
    padding-right: 20px;
    font-size: 13px;
    line-height: 22px;
}

#FooterBoxRight {
    width: 380px;
    height: 200px;
    background-color: #333333;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
}

#FooterFrame input {
    border: 0px;
    border-bottom: 2px solid #717171;
    background-color: #333333;
    width: 270px;
    height: 35px;
    outline: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    color: #ffffff;
    margin-bottom: 30px;
    padding-bottom: 8px;
}

#FooterFrame input::placeholder {
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
}
/* END OF FOOTER AREA */
/**********************************/
/* 9. Responsividade tablet
/**********************************/

@media (min-width:450px) and (max-width:800px){
    nav{
        display: none;
        position: absolute;
        z-index: 99;
        background-color: rgb(0, 0, 0, 0.9);
        width: 70vw;
        height: calc(100vh - 100px);
        top: 100px;
        right: 0;
    }
    .menu ul{
        flex-direction: column;
    }
    .menu li a{
        font-weight: bold;
        height: 80px;
        font-size: 27px;
        margin-left: 50px;
        border: 0;
    }
    .menu li.menu__ativo a{
        border: 0;
        color: #B43104;
    }
    .logo{
        margin-left: 30px;
    }
    .menu_opener{
        width: 45px;
        margin-right: 30px;
        display: block;
    }
    .sobre__nos{
        flex-direction: column;
    }
    .area__esquerda{
        margin-left: 30px;
        margin-right: 30px;
        margin-bottom: 30px;
    }
    .slide__conteudo{
        margin-left: 30px;
        
    }
    .area__direita{
        width: auto;
    }
    .servicos{
        flex-wrap: wrap;
    }
    .icones__servicos{
        min-width: 50%;
        margin-bottom: 30px;
    }
    .icones__servicos:first-child{
        border-left: 0;
    }
    #FooterBoxCenter{
        margin-right: 9px;
    }
    #FooterBoxRight{
        margin-right: 30px;
    }
}

/**********************************/
/* 10. Responsividade celular
/**********************************/

@media  (max-width:450px){
    nav{
        display: none;
        position: absolute;
        z-index: 99;
        background-color: rgb(0, 0, 0, 0.9);
        width: 80vw;
        height: calc(100vh - 100px);
        top: 100px;
        right: 0;
    }
    .menu ul{
        flex-direction: column;
    }
    .menu li a{
        font-weight: bold;
        height: 60px;
        font-size: 20px;
        margin-left: 30px;
        border: 0;
    }
    .menu li.menu__ativo a{
        border: 0;
        color: #B43104;
    }
    .logo{
        margin-left: 30px;
    }
    .menu_opener{
        width: 45px;
        margin-right: 30px;
        display: block;
    }
    .sobre__nos{
        flex-direction: column;
    }
    .area__esquerda{
        margin-left: 30px;
        margin-right: 30px;
        margin-bottom: 30px;
    }
    .slide__conteudo{
        margin-left: 30px;
        
    }
    .area__direita{
        width: auto;
        margin-left: 30px;
        margin-right: 30px;
    }
    .area__direita img{
        width: 100%;
    }
    .servicos{
        flex-wrap: wrap;
    }
    .icones__servicos{
        min-width: 100%;
        margin-bottom: 30px;
    }
    .icones__servicos:first-child{
        border-left: 0;
    }
    #FooterBoxCenter{
        margin-right: 9px;
    }
    #FooterBoxRight{
        margin-right: 30px;
    }
    .filtros{
        margin-left: 30px;
        margin-right: 30px;
    }
    .section_projects_photo{
        width: 320px;
    }
    .section_projects_photoarea{
        width: 300px;
        height: 200px;
    }
}